/* --------------------------------------
   Layout
   -------------------------------------- */

#features{
	text-align : center;
}

#features img {
	margin : 0 0 20px;
}

#inputMessage{
	margin-bottom : 15px;
}

footer {
	background: #333;
	color: #eee;
	font-size: 11px;
	padding: 20px;
}

/* --------------------------------------
   Typography
   -------------------------------------- */

ul.unstyled {
	list-style: none;
	padding :0;
}

/* --------------------------------------
   Navbar
   -------------------------------------- */
#searchInput{
	width:200px;
}

.navbar-brand{
	padding: 13px 15px;
}

.navbar{
	background-color: black;
}

ul.nav li {
	background-color: #000000;
	color: #d5d5d5;
}

ul.nav li:hover {
	background-color: #d5d5d5;
	color: #000000;
}

/* --------------------------------------
   Global Styles
   -------------------------------------- */
.alert{
	margin-top: 20px;
	display: none;
}

.none {
	display: none;
}

.well {
	margin : 20px 0;
}

.tabbable img.thumbnail{
	margin : 0 20px 10px 0;
}

.thumbnails {
	margin :20px 0;
}

.thumbnail {
	position : relative;
}

.thumbnail h3{
	font-size : 16px;
	margin: 0 0 10px;
	line-height: 20px;
}

.thumbnail .price{
	font-size: 22px;
	position: absolute;
	top : -10px;
	right : -10px;
	padding: 10px;
}

.thumbnail .price sup {
	font-weight: normal;
	font-size: 12px;
}

.thumbnail span.glyphicon{
	margin-right: 5px;
}

#title {
	text-align: center;
}

#submitInput {
	margin-right: 0px;
}

#submitInput button,
#submitInput a {
	float: left;
	display: block;
}

#submitInput a {
	margin-left: 12px;
}

/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {
	.thumbnail .price{
		font-size: 14px;
	}

	.thumbnail .price sup {
		font-size: 10px;
	}
}

/* EDIT JUST IN CASE: For mobile + tablet devices */
@media (max-width: 760px) {
	
}