<h4>Available Drivers Around You :</h4>
<ul>
	<li>Tag: 浙B-27231; Distance: 1.2km; Est.Time: 3min.</li>
	<li>Tag: 浙A-88888; Distance: 0.9km; Est.Time: 4min.</li>
	<li>Tag: 浙D-52359; Distance: 1.5km; Est.Time: 4min.</li>
	<li>Tag: 浙F-64923; Distance: 1.3km; Est.Time: 5min.</li>
	<li>Tag: 浙E-77487; Distance: 2.0km; Est.Time: 7min.</li>
	<li>Tag: 浙C-90051; Distance: 1.9km; Est.Time: 9min.</li>
</ul>
<p><img src="/img/loading_spinner.gif" alt="loading" width="10%" height="10%">Please wait, we are choosing the driver for you...</p>