<!-- Driver information -->
<h4>Your driver information:</h4>
<div class="row">
	<div>
		<img class="center-block" src="/img/Taxi-driver.jpg" alt="driver" width="35%" height="35%">
	</div>
	<div>
		<ul>
     		<li>Tag: 浙A-88888</li>
     		<li>Name: Yan Bin Shi</li>
     		<li>Distance: 0.9km</li>
     		<li>Est. Time: 4min</li>
		</ul>
	</div>
</div>

<h4>Enjoy Your Trip !</h4>

<p><a href="/trip-final" class="secret" style="text-decoration:none; color:black; cursor: default">We wish you safety and good luck on the road!</a></p>

<!-- Confirmation code
<p>Press "Get in!" after the driver arrives to you.</p>

Buttons
<button ng-click="enjoyTrip()" class="btn btn-default">Get In!</button>
<button ng-click="endTrip()" class="btn btn-danger">Cancel</button> -->