<h4>Trip details:</h4>

<p>Total distance: {{trip.distance}} km</p>
<p>Total cost: {{trip.cost}} 元</p>
<button ng-click="finalizeTrip()" class="btn btn-default btn-next-menu">Charge</button>
<a href="#myModal" role="button" class="btn btn-warning" data-toggle="modal"></span>Contact Us</a>
        
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
            </div><!-- end modal-header -->
            
            <div class="modal-body">
                <p>Feel free to ask us anything or report if you charged to pay a trip eventhough you are not using NGUBER services</p>
                
                <h4>Popovers in a modal</h4>
                
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-2 control-label" for="inputName">Name</label>
                        
                        <div class="col-lg-10">
                            <input class="form-control" id="inputName" placeholder="Name" type="text">
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-lg-2 control-label" for="inputEmail">Email</label>
                        
                        <div class="col-lg-10">
                            <input class="form-control" id="inputEmail" placeholder="Email" type="email">
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-lg-2 control-label" for="inputMessage">Message</label>
                        
                        <div class="col-lg-10">
                            <textarea class="form-control" id="inputMessage" placeholder="Message" rows="3"></textarea>

                            <button ng-click="passengerInfo()" class="btn btn-success" type="submit">Send!</button>
                            <button ng-click="passengerInfo()" class="btn btn-danger" type="submit">Cancel</button>
                        </div>
                    </div>
                </form>
            </div><!-- end modal-body -->
        </div><!-- end modal-content-->
    </div><!-- end modal-dialog -->
</div><!-- end myModal-->