<h4>Your passenger information:</h4>
<div class="row">
	<div>
		<img src="/img/download.jpg" alt="driver" width="75%" height="75%">
	</div>
	<div>
		<ul>
     		<li>ID: 147258</li>
     		<li>Name: Baskoro Indrayana</li>
     		<li>Distance: 0.9km</li>
     		<li>Est. Time: 4min</li>
		</ul>
	</div>
</div>

<p>Press "Let's Drive!" after passenger has arrived.</p>
<button ng-click="drivePassenger()" class="btn btn-default btn-next-menu">Let's Drive!</button>
<button class="btn btn-danger btn-next-menu">Cancel</button>